* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url(Montserrat-Medium.ttf);
}

.background {
    max-width: 414px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: #CBE0DB;
    border-radius: 30px;
    display: flex;
}

.casacachorros{
    min-width: 150px;
    height: 250px;
    background-color: #519E8A;
    border-radius: 30px;
}

.partebranca{
    min-width: 150px;
    height: 70px;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 20px;
}